
<ion-view view-title="Safespace">
    
    <ion-nav-buttons class="nav" side="right">
      <button class="button nav" style="font-size:2em;"ng-click="showSearch()">
        <i class="ion-search"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons class="nav" side="left">
        
      <button class="button nav" ng-click="showSliders()" style="font-size:2em;" >
        <i class="ion-ios-settings-strong"></i>
          
      </button>
    </ion-nav-buttons>
  <ion-content class="padding" >
    <h2 ng-hide="showSearchBar">Welcome to SafeTravels</h2>
      <label id="main-search" ng-show="showSearchBar" class="item item-input search">
            <input  type="text" ng-model="mySearch">
      </label>
    <p>
    Here are the safest places for you to visit!
    </p>
      
        <div class="item city-item" ng-repeat="listItem in listItems | filter:mySearch as filterdItems" >
            <a href="#/tab/safespace-detail/{{listItem.id}}">
            <div class="frame">
                <div><img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg">
                </div>
                <p>{{listItem.name || listItem}}</p>
            </div>
                </a>
        </div>
          
      <div ng-if="filterdItems.length === 0">This may not be the best travel destination. Try searching for another place.</div>

  </ion-content>
</ion-view>
